<h1>My cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <p><%= link_to cocktail.name, cocktail_path(cocktail)  %></p>
    </li>
      <% end %>
</ul>
<hr>
<%= link_to new_cocktail_path do %>
  <i class="fa fa-plus"></i> Add a new cocktail
  <% end %>

  <%= cl_image_tag("m6mumhlckah2rd9edfua",
      width: 400, height: 300, crop: :fill) %>
